* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.container {
  display: flex;
  gap: 15rem;
}

.timer-control {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body {
  display: grid;
  height: 100vh;
  place-content: center;
}

#timer {
  font-size: 9.6rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #323238;
}

#controls button {
  margin-top: 1rem;
  background-color: #FFF;
  cursor: pointer;
}

.ph-play-circle, .ph-pause-circle,
.ph-plus-circle, .ph-minus-circle {
  color: #323238;
  font-size: 6.3rem;
  font-weight: bold;

}

.ph-fire, .ph-storefront,
.ph-cloud-rain, .ph-tree {
  font-size: 8rem;
  color: #323238;
}

.toggle-box {
  display: flex;
  gap: 3.2rem;
}

.toggle-box:not(:first-child) {
  margin-top: 3.2rem;
}

.toggle-box button {
  border-radius: 2rem;
  padding: 3.2rem 2.5rem;
  cursor: pointer;
}